# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
venv/
ENV/

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
